<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="text-center"><%= @chef.name.titleize %></h1>
    <div class="row">
      <div class="col-md-4 col-md-offset-4 text-center">
        <%= gravatar_for @chef, size: 250 %>
        <h5>
          <% if logged_in? && @chef == current_user %>
            <%= link_to "Edit", edit_chef_path(@chef), class: "btn btn-primary edit-btn" %>
            <%= link_to "Delete", chef_path(@chef), method: :delete, 
                                data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
          <% end %>
        </h5>
        <br />
      </div>
    </div>
  </div>
    
  
      <% @recipes.each do |recipe| %>
      <div class="col-md-8 col-md-offset-2 well">
        <div class="row">
          <div class="col-md-6 col-md-offset-1">
            <h2><%= link_to recipe.name.titleize, recipe %></h2>
            <h4><%= recipe.summary %></h4>
            <br />
            <p>
              <%= link_to like_recipe_path(recipe, like: true), method: :post, 
                                           class: "btn btn-default btn-sm" do %>
                <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp; 
                <strong><%= recipe.thumbs_up_total %></strong>
              <% end %>
              <%= link_to like_recipe_path(recipe, like: false), method: :post, 
                                           class: "btn btn-default btn-sm" do %>
                <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp;
                <strong><%= recipe.thumbs_down_total %></strong>
              <% end %>
            </p>
          </div>
          <div class="col-md-5">
            <%= image_tag(recipe.picture.url, 
                          size: "250x150",   
                          class: "gravatar") if recipe.picture? %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>

<div class="text-center">
  <strong><%= will_paginate @recipes %></strong>
</div>
