<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <h1 class="text-center">All Recipes</h1>
      <hr />
      <% @recipes.each do |recipe| %>
        <div class="row">
          <div class="col-lg-3 col-md-3 col-sm-3">
            <section class="chef-info text-center">
              <%= gravatar_for recipe.chef, size: 100 %>
              <h4><strong>Chef: <%= recipe.chef.name %></strong></h4>
            </section>
          </div>
          
          <div class="recipe-info col-lg-9 col-md-9 col-sm-9 well">
            <h2><%= link_to recipe.name.capitalize, '#' %></h2>
            <h4><%= recipe.summary %></h4>
            <p>
              <span class="quiet"><small>Created at <%= time_ago_in_words(recipe.created_at) %> 
                                                        ago</small></span>
            </p>
          </div>
          
          <hr />
          
        </div>
      <% end %>
      
    </div>
  </div>
</div>

