<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="text-center"><%= @recipe.name.titleize %></h1>
    <div class="row">
      <div class="col-md-3 text-center">
        <%= gravatar_for @recipe.chef, size: 150 %>
        <p><h4>By: <%= link_to @recipe.chef.name, chef_path(@recipe.chef) %></h4></p>
        <h5>
          <%= link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-primary edit-btn" %>
          <%= link_to "Delete", recipe_path(@recipe), method: :delete, 
                              data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
        </h5>
        <h5><%= link_to "Return to Recipes Index", recipes_path, class: "btn btn-success" %></h5>

      </div>
      <div class="col-md-8 well">
        
        <h3 class="text-center"><%= @recipe.summary.titleize %></h3>
          <%= image_tag(@recipe.picture.url, size: "650x350", 
              class: "show-img img-responsive center-block gravatar") if @recipe.picture? %>
        <h4><strong>Steps: &nbsp;</strong><%= simple_format(@recipe.description) %></h4>
        <div class="text-center">
          <%= link_to like_recipe_path(@recipe, like: true), method: :post, class: "btn btn-default btn-md edit-btn" do %>
            <i class="glyphicon glyphicon-thumbs-up"></i> &nbsp; 
            <strong><%= @recipe.thumbs_up_total %></strong>
          <% end %>
          <%= link_to like_recipe_path(@recipe, like: false), method: :post, class: "btn btn-default btn-md" do %>
            <i class="glyphicon glyphicon-thumbs-down"></i> &nbsp;
            <strong><%= @recipe.thumbs_down_total %></strong>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>


