<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <h1 class="text-center"><%= @recipe.name.titleize %></h1>
    <div class="row">
      <div class="col-md-3 text-center">
        <%= gravatar_for @recipe.chef, size: 150 %>
        <p><h4>Brought to you by: <%= @recipe.chef.name %></h4></p>
        <h5><%= link_to "Return to Recipes Index", recipes_path, class: "btn btn-success" %></h5>

      </div>
      <div class="col-md-8 well">
        <%= link_to "Delete", recipe_path(@recipe), method: :delete, 
                              data: { confirm: "Are you sure?" }, class: "btn btn-danger pull-right" %>
        <%= link_to "Edit", edit_recipe_path(@recipe), class: "btn btn-primary pull-right edit-btn" %>
        <h3><%= @recipe.summary %></h3>
        <h4><strong>Steps: &nbsp;</strong><%= simple_format(@recipe.description) %></h4>
      </div>
    </div>
  </div>
</div>


